# Automação Web e Busca de Informações com Python

#### Projeto: 

O presente projeto tem o intuito de atualizar a base de preços de uma importadora e o preço dos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Para realizar a atualização para as cotações do dia, será necessária a busca pela internet, de forma automática, para descobrir o quanto que a empresa deverá cobrar pelos produtos, considerando uma margem de contribuição na base de dados.

Base de Dados: https://drive.google.com/drive/folders/18FW2Di6RfMejAghwuOdsHbGiqnGXjOJV?usp=sharing

- Importante: deve-se instalar o webdriver e colocar o arquivo executável na pasta do Jupyter.
- Recomendável a utilização do Google Chrome.
- Download do webdriver: https://chromedriver.chromium.org/downloads (instale a versão do webdriver que seja idêntica a do seu Chrome)
- A pasta do Jupyter deve ser encontrada em -> C:\Users\usuário\anaconda3

In [24]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação dolar')
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print('A cotação do dolar vale: ')
print(cotacao_dolar)

navegador.get("https://www.google.com/")

navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('cotação euro')
navegador.find_element('xpath','/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element('xpath','//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print('A cotação do euro vale: ')
print(cotacao_euro)

navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_ouro = navegador.find_element('xpath','//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(',', '.')
print('A cotação do ouro vale: ')
print(cotacao_ouro)

navegador.quit()

tabela = pd.read_excel("Produtos.xlsx")

print('Tabela antes das atualizações: ')
display(tabela)

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

print('Tabela após as atualizações: ')
display(tabela)

tabela.to_excel("Produtos.xlsx", index=False)

A cotação do dolar vale:
5.1086
A cotação do euro vale:
5.539842469000001
A cotação do ouro vale:
312.26
Tabela antes das atualizações:

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.108700,5108.648913,1.40,7152.108478
1,Carro Renault,4500.00,Euro,5.538485,24923.181208,2.00,49846.362417
2,Notebook Dell,899.99,Dólar,5.108700,4597.778913,1.70,7816.224152
3,IPhone,799.00,Dólar,5.108700,4081.851300,1.70,6939.147210
4,Carro Fiat,3000.00,Euro,5.538485,16615.454139,1.90,31569.362864
5,Celular Xiaomi,480.48,Dólar,5.108700,2454.628176,2.00,4909.256352
6,Joia 20g,20.00,Ouro,312.260000,6245.200000,1.15,7181.980000

Tabela após as atualizações:

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.108600,5108.548914,1.40,7151.968480
1,Carro Renault,4500.00,Euro,5.539842,24929.291111,2.00,49858.582221
2,Notebook Dell,899.99,Dólar,5.108600,4597.688914,1.70,7816.071154
3,IPhone,799.00,Dólar,5.108600,4081.771400,1.70,6939.011380
4,Carro Fiat,3000.00,Euro,5.539842,16619.527407,1.90,31577.102073
5,Celular Xiaomi,480.48,Dólar,5.108600,2454.580128,2.00,4909.160256
6,Joia 20g,20.00,Ouro,312.260000,6245.200000,1.15,7181.980000